

/* sign in button styling */
.sign-in {
    height: 40px;
    cursor:pointer;
}

.sign-in:disabled {
   cursor: not-allowed;
}

.sign-in:hover:not(:disabled) {
    background: #078377;
    border: #078377;
    color: #fff;
    transition: background .2s linear;
}

